<div class="col-sm-8 py-5 mx-auto home" style="background-image: url('/images/family.jpg');">
    <div class="color-overlay d-flex justify-content-center align-items-center">
        <h1>My Family is My Home.</h1>
    </div>
</div>