<main class="container bg-light rounded my-5">
<container>
    <div class="row g-3">
        <div class="py-5 home" style="background-image: url('/images/family.jpg');">
            <div class="color-overlay d-flex justify-content-center align-items-center">
                <h1>My Family is My Home.</h1>
            </div>    
        </div>
    </div>
</container>
</main>