<main class="container my-5 bg-light rounded">
<container>
<div class="row g-3">
    <div class="col-md-4 col-6 my-5">
        <div class="card">
            <img src="./images/SBIQ.png" class="img-fit" alt="SafeboxIQ">
            <div class="card-body">
                <h5 class="card-title">SafeboxIQ</h5>
                <p class="card-text">
                    Document management and workflow monitoring system for mortgage companies in the U.S. It provides paperless, more efficient and more secure operation.
                </p>
                <div class="text">
                    <p>
                        Roles: System Architect, Product Owner, Tech Lead
                    </p>
                    <p>
                        Techonologies: Ruby on Rails, C#, PostgreSQL, Redis
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-6 my-5">
        <div class="card">
            <img src="./images/eTTSI logo.jpg" class="card-img-top img-fit" alt="e-TTSI">
            <div class="card-body">
                <h5 class="card-title">e-TTSI</h5>
                <p class="card-text">
                    An online training suite for medical transcription where users can learn at their own pace.  Manages course content and quizzes, automatically checks transcripts, and allows users to simulate professional medical transcription environment. 
                 </p>
                <div class="text">
                    <p>
                        Roles: Sytem Architect, Tech Lead
                    </p>
                    <p>
                        Technologies: Java, MySQL, ColdFusionMX
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-6 my-5">
        <div class="card">
            <img src="./images/YouZhu logo.png" class="card-img-top img-fit" alt="YouZhu">
            <div class="card-body">
                <h5 class="card-title">YouZhu</h5>
                <p class="card-text">
                    YouZhu is a call center based translation/guide service by China Unicom in preparation for the Beijing Olympics in 2008. We developed a call center web UI equipped with telephony and mapping functionalities that enables our agents to assist the callers.

                </p>
                <div class="text">
                    <p>
                        Roles: System Architect, Tech Lead
                    </p>
                    <p>
                        Techonologies: ExtJS, PostgreSQL, PostGIS, Ruby on Rails
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</container>
</main>