<div class="row g-2">
    <div class="col-md-6 col-9">
        <div class="card">
            <img src="./images/SBIQ logo.jpg" class="card-img-top img-fit" height=200px alt="SafeboxIQ">
            <div class="card-body">
                <h5 class="card-title">SafeboxIQ</h5>
                <p class="card-text">
                    Document management and workflow monitoring system for mortgage companies in the U.S. It provides paperless, more efficient and more secure operation.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-9">
        <div class="card">
            <img src="./images/e-TTSI logo.jpg" class="card-img-top img-fit" height=200px alt="e-TTSI">
            <div class="card-body">
                <h5 class="card-title">e-TTSI</h5>
                <p class="card-text">
                    An online training suite for medical transcription where users can learn at their own pace.
                </p>
            </div>
        </div>
    </div>
</div>