<main class="container my-5 bg-light rounded">
    <container>
        <div class="row g-3">
            <img src="./images/kids archery.jpg" alt="">
        </div>
        <div class="row g-3">
            <div class="col-md-3 col-4 my-5">
                <div class="card">
                    <div class="card-body linear-gradient">
                        <h5 class="card-title text-white">System Architect</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-4 my-5">
                <div class="card">
                    <div class="card-body linear-gradient">
                        <h5 class="card-title text-white">Product Owner</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-4 my-5">
                <div class="card">
                    <div class="card-body linear-gradient">
                        <h5 class="card-title text-white">Software Development Manager</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-4 my-5">
                <div class="card">
                    <div class="card-body linear-gradient">
                        <h5 class="card-title text-white">Scrum Master</h5>
                    </div>
                </div>
            </div>
        </div>

    </container>
</main>