<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<!--Main nav Navigation-->

<div class="container my-5 bg-light">
  <div class="row g-5 justify-content-evenly mb-5">
    <div class="col-lg-6">
      <div class="card">
        <div class="row g-0 linear-gradient">
          <div class="col-6 col-md-5">
            <img src="/images/self.jpg" class="img-fluid portrait" alt="...">
          </div>
          <div class="col-6 col-md-7">
            <div class="card-body d-flex flex-column text-white">
                <div class="h-100">
                <h3 class="card-title">Robert Escario</h3>
                <p class="card-text">People... Process... Technology...</p>
                <p class="card-text">Currently studying Software Engineering Technology - Artificial Intelligence at Centennial College</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>