<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<!--Main nav Navigation-->

<div class="container my-5 cream-bg">
  <div class="row g-5 justify-content-evenly">
    <div class="col-lg-6">
      <div class="card">
        <div class="row g-0">
          <div class="col-6 col-md-5">
            <img src="/images/self.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-6 col-md-7">
            <div class="card-body">
              <h5 class="card-title">Robert Escario</h5>
              <p class="card-text">People... Process... Technology...</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>