body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.home{
  background-size: cover;
  
  min-height: 400px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.cover-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
}

.card .img-fit {
  aspect-ratio: 16/9;
  object-fit: scale-down;
}

.card {
  height: 100%;
}

.card-body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.card-text {
  flex-grow: 1;
}

.cream-bg {
  background-color: #f3eae3;
  padding-top: 2rem;
  padding-bottom: 2rem;
}